:root {
    --gray: #a2a9b1;
    --soft-gray: #c8ccd1;
    --wram-gray: #72777d;
    --blue-primary: #36c;
    --gray-text: #54595d;
    --soft-white: #f8f9fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

.header {
    display: grid;
    grid-template-columns: 57px 152px;
    justify-content: center;
    gap: 2px;
    margin-top: 48px;
    width: 100%;
    height: 50px;
}

.header__logo img {
    width: 57px;
    height: auto;
    object-fit: contain;
}

.header .header__logo-text {
    width: 150px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.header__logo-text img {
    width: 150px;
    height: 25px;
    object-fit: cover;
}

.header__slogan{
    height: auto;
    font-size: 1.4rem;
    text-align: center;
    font-family: Linux Libertine,Georgia,Times,serif;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 10px auto;
}

.main__search {
    width: 100%;
}

.main__search .search-form {
    position: relative;
    width: 94%;
    height: 44px;
    min-width: 300px;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid var(--gray);
    border-radius: 2px;
}

.search-form:hover {
    border-color: var(--wram-gray);
}

.search-form form {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 6px);
    height: 42px;
    margin: 0 auto;
}

.search-form form:focus-within {
    width: calc(100% - 4px);
    height: 40px;
}

.search-form .input-query {
    width: calc(100% - 118px);
    height: calc(100% - 1px);
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    outline: none;
}

.input-query:focus {
    padding: 9px;
    padding-right: 10px;
}

.search-form:focus-within {
    border: 2px solid var(--blue-primary);
}

.search-form .select-language {
    width: 40px;
    height: calc(100% - 3px);
    margin-left: 20px;
    border: none;
    color: var(--wram-gray);
    outline: none;
}

.search-form button {
    position: absolute;
    top: 1;
    right: 0;
    display: inline-block;
    width: 50px;
    height: 100%;
    border: none;
    background-color: var(--blue-primary);
}

.search-form span.icon {
    display: block;
    width: 50px;
    height: 42px;
    background-image: url("./imgs/search-icon.svg");
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
}

.main__languages {
    width: 100%;
    max-width: 546px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.lang-feature {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    text-align: center;
    color: var(--gray-text);
    line-height: 1.8rem;
}

.lang-feature h3 {
    font-size: 1.4rem;
    color: var(--blue-primary);
    margin-bottom: 5px;
}

.lang-feature span {
    font-size: 1.3rem;
}

.main__list-languages {
    position: relative;
    width: 100%;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.main__list-languages .container-button {
    width: 100%;
    max-width: 4;
}

.list-languages__line {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    z-index: -1;
    width: 80%;
    max-width: 450px;
    height: 1px;
    margin: 0 auto;
    background-color: var(--gray);
}

.list-languages__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    max-width: 300px;
    height: 36px;
    margin: 0 auto;
    padding: 6px 12px;
    background-color: var(--soft-white);
    border: 1px solid var(--gray);
    border-radius: 2px;
    text-align: center;
    outline: 1.6rem solid white;
}

.list-languages__container .list-languages__icon-lang {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./imgs/language-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.list-languages__container .list-languages__text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blue-primary);
    line-height: 1.6rem;
}

.list-languages__container .list-languages__icon-arrow {
    display: inline-block;
    width: 12px;
    height: 8px;
    background-image: url("./imgs/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__line-bottom, .footer__line {
    display: block;
    width: 92%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--soft-gray)
}

footer {
    width: 100%;
    width: auto;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

footer .footer__sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    text-align: center;
    order: 1;
}

.footer__sidebar img {
    width: 38px;
    height: 39px;
    object-fit: cover;
}

.footer__sidebar .sidebar__wikimedia {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 1.95rem;
    color: var(--gray-text);
}

.footer__sidebar .sidebar__donation {
    font-size: 1.3rem;
    color: var(--blue-primary);
}

.footer__sidebar-apps {
    width: 100t;
    height: auto;
    margin-top: 10px;
    padding: 8px 0;
    margin-bottom: 60px;
    background-color: var(--soft-white);
    order: 3;
}

.footer__sidebar-apps .sidebar-apps__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.sidebar-apps__header img {
    width: 28px;
    height: 28.1px;
    object-fit: cover;
}

.sidebar-apps__header a {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--blue-primary);
}

.footer__sidebar-apps .sidebar-apps__text {
    width: 95%;
    height: auto;
    margin: 13px auto;
    margin-top: 26px;
    font-size: 1.3rem;
    line-height: 1.95rem;
    color: var(--gray-text);
    text-align: center;
}

.sidebar-apps__mobile-apps {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.sidebar-apps__mobile-apps img {
    width: 120px;
    height: 36px;
    object-fit: contain;
}

.footer__other-projects {
    width: 100%;
    height: auto;
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    order: 2;
}

.other-projects__project {
    padding: 10px 5px;
    min-height: 50px;
}

.other-projects__project:nth-child(2n) {
    padding-left: 0;
}

.other-projects__project a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    align-items: center;
}

.project__icon img {
    width: 50px;
    height: 37px;
}

.project__icon-news img {
    width: 50px;
    height: 27px;
}

.project__text h3 {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.9rem;
    color: var(--blue-primary);
}

.project__text p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: var(--gray-text);
    hyphens: auto;
}

.footer__line {
    order: 4;
}

.footer__license {
    width: 100%;
    order: 5;
}

.footer__license .footer__license__text {
    width: 95%;
    height: auto;
    margin: 14px auto;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.95rem;
    color: var(--gray-text);
}

.footer__license__text a {
    color: var(--blue-primary);
}

.footer__license__text .license-link::after, .footer__license__text .terms-link::after {
    content: "\2022";
    font-size: 1.3rem;
    line-height: inherit;
    margin-left: .8rem;
    margin-right: .5rem;
}